@import "./main.css";
@import "./button.css";
body {
    background: rgb(154,227,210);
    background: linear-gradient(190deg, rgba(154,227,210,1) 0%, rgba(35,125,116,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    color: #0D0D0D;
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

.fadeIn {
    -webkit-animation: fadeIn 3s ease-in-out;
    -moz-animation: fadeIn 3s ease-in-out;
    -o-animation: fadeIn 3s ease-in-out;
    animation: fadeIn 3s ease-in-out;
}
.box{
    border: 1px solid #36BFB1;
    box-shadow:4px 4px 6px 0px rgba(41, 153, 153, 0.75);
    background-color: #36BFB1;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1, h2, h3, p{
    margin: 0px;

}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

.header{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
a{
    text-decoration: none;
}
li a{
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    color: #0D0D0D;
    opacity: 0.7;
    font-weight: 700;
}

li a:hover{
    opacity: 1;
    font-size: 1.175rem;
}

.line-1{
    display: flex;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 3s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(20) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 13em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(13,13,13,.75);}
  to{border-right-color: transparent;}
}
@media (max-width:800px){
    .header{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }
}