.up{

}
.intro{
    max-width: 1200px;
    padding: 0 40px 40px 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
    align-items: center;
}

.intro h3 {
    font-size: 3rem;
    line-height: 1.125;
    margin-bottom: 30px;
}

.intro p{
    font-size: 1.5rem;
    color: #0D0D0D;
    opacity: .5;
}

@media (max-width: 1000px){
    .intro h3{
        font-size: 2rem;
    }
}

@media (max-width: 800px){
    .intro{
        grid-template-columns: 2fr 1fr;
        gap: 40px;
    }
    .intro h3{
        font-size: 1.5rem;
    }
}

@media (max-width: 600px){

    .intro{
        grid-template-columns: 1fr;
    }
    .intro p {
        max-width: 300px
    }
    .intro img{
        grid-template-columns: 1fr;
    }
}